.pageProfile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 250px;
    border: 1px solid grey;
}
.profileTitle {
    text-align: center;
}
.profileSubtitle{
    font-size: 20px;
}
.profileData{
    font-size: 18px;
    margin: 15px 0 35px 20px;
}
.profileImg {
    border-radius: 50%;
    width: 50%;
}
.profileButtons {
    margin: 100px 0 0 50%;
}
.profileCancel{
    margin: 15px;
}
