$primary: rgb(51, 153, 70);
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f3f3f0;

$green: green;

$base-color: linear-gradient(rgba(255, 38, 143, 0.589) 0%, rgba(255, 105, 79, 0.575) 100%);