@use "../../styles/Colors.scss";
@use "../../styles/Fonts.scss";
@use "../../styles/Border.scss";

.mb-3{
    margin-top: 1rem;
}
.GoogleLogIn{
    width: 60%;
    margin: auto;
    border-radius: 5%;
    border: none;
    background-color: Colors.$primary;
}
.googleLogo{
    margin: 10px 15px 10px 0;
}
main{
    font-family: Fonts.$Vollkorn;
}
