@use "../../../variables.scss";

.DropdownProfile{
    width: 15rem;
    background-color: variables.$primary;
    border: none;
    &:active{background-color: variables.$primary;}
    &:hover{background-color: variables.$primary;}
}

.DropdownProfileMenu{
    background-color: gray;
}

.DropdownProfileItem{
    color: white;
    &:hover{
        background-color: rgb(71, 68, 68);
        color: white;
    }
}
.ProfileImg{
    width: 15%;
    margin-right: 3%;
    border-radius: 50%;
}