@use "../../styles/Colors.scss";
.DropdownProfile{
    width: 15rem;
    background-color: Colors.$primary;
    border: none;
    &:active{background-color: Colors.$primary;}
    &:hover{background-color: Colors.$primary;}
}
.DropdownProfileMenu{
    background-color: gray;
}
.DropdownProfileItem{
    color: white;
    &:hover{
        background-color: rgb(71, 68, 68);
        color: white;
    }
}
.ProfileImg{
    width: 35% !important;
    margin-right: 3%;
    border-radius: 50%;
}
img {
    width: 40%;
}
.searchBig{
    width: 55em;
}