.EditInfoContainer{
    display: flex;
    width: 100%;
}
h4{
    width: 95%;
    align-items: center;
    text-align: center;
    margin: auto;
}
button{
    border : none;
    background: none;
    align-items: center;
    font-size: 2rem;
}